*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

body {
  background: white;
  font-family: "Roboto", sans-serif;
}

.container {
  display: flex;
  justify-content: space-between;
  max-width: 1219px;
  padding-left: 55px;
  padding-right: 55px;
  margin: 0 auto;
}

.wrapper {
  max-width: 2011px;
  overflow: hidden;
  margin: 0 auto;
}

header {
  height: 138px;
  background: #007765;
  border: none;
}

nav ul {
  display: block;
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav a {
  display: block;
  text-decoration: none;
  text-transform: none;
  color: white;
  padding: 56px 23px;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  outline: none;
}

.vertical-line {
  border-right: 3px solid white;
  height: 29px;
  margin-top: 55px;
}

.logo {
  display: flex;
  position: relative;
  align-items: center;
}

.logo p {
  display: block;
  position: relative;
  justify-content: center;
  text-decoration: none;
  color: white;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  margin-left: 20px;
}

.right-vector {
  display: block;
  position: absolute;
  width: 45px;
  height: 45px;
  background-image: url(../img/Vector.svg);
}

.left-vector {
  display: block;
  position: relative;
  width: 45px;
  height: 45px;
  background-image: url(../img/Vector1.svg);
  transform: scale(1);
}

.jumbotron {
  display: flex;
  background-image: url(../img/bg_net.png);
  background-size: 100%;
  height: 403px;
}

.jumbotron__text {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.jumbotron__text > p {
  text-decoration: none;
  font-size: 72px;
  font-weight: 500;
  line-height: 84px;
  color: #ffffff;
}

.problem {
  padding: 50px 0 92px;
  background: #eeeeee;
}

h1 {
  margin: 0px;
  text-decoration: none;
  text-transform: none;
  font-weight: 500;
  font-size: 64px;
  line-height: 75px;
  color: #007765;
  text-align: center;
}

.problem__container {
  display: block;
  position: relative;
}

.problem__container > p {
  text-decoration: none;
  color: #000000;
  font-size: 32px;
  line-height: 37px;
  margin-top: 30px;
}

.hero {
  display: flex;
  background-image: url(../img/bg_hero.png);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 483px;
}

.hero__container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 128px 163px;
}

.hero__container > p {
  text-decoration: none;
  font-style: italic;
  font-size: 48px;
  line-height: 56px;
  font-weight: 500;
  color: #ffffff;
}

.ppc {
  display: block;
  background: #ffffff;
  padding: 48px 0;
}

.ppc__container {
  display: block;
  position: relative;
  margin-top: 20px;
}

.ppc__container .ppc__logo {
  display: flex;
  position: relative;
  width: 115px;
  float: left;
  margin-right: 48px;
}

.ppc__container > p {
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 37px;
  color: #000000;
  margin-bottom: 40px;
}

.team {
  display: block;
  background: #eeeeee;
  padding: 48px 0;
  justify-content: center;
}

.team-container {
  margin-top: 32px;
  padding: 0.5vw;
  font-size: 0;
  flex-wrap: wrap;
  flex-direction: column;
  flex-flow: row wrap;
  display: flex;
}

.team-member-card {
  position: relative;
  flex: auto;
  width: 350px;
  margin: 0.5vw;
  padding: 30px;
  justify-content: center;
}

.team-member-card__image {
  width: 168px;
  margin-bottom: 15px;
}

.team-member-card > figure {
  text-align: center;
}

.team-member-card > figure > figcaption {
  text-decoration: none;
  font-weight: 900;
  font-style: normal;
  font-family: "Roboto";
  font-size: 24px;
  line-height: 28px;
  color: #007765;
}

.team-member-card > figure > p {
  text-decoration: none;
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  margin: 0;
  padding: 0;
}

footer {
  display: flex;
  position: relative;
  background: #333333;
  min-height: 176px;
}

.footer-container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 340px;
}

.footer-container > p {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  font-weight: 400;
  color: #ffffff;
}
